# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
*.egg-info/

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Processed Data
data/processed/

# Power BI
*.pbix.autosave
